<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Note App</title>
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script defer src="/js/jquery.js"></script>
    <script defer src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- 
      <i class="fa fa-trash-alt"></i>
      <i class="fa fa-edit"></i> -->
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light mb-3 align-items-center"
      style="background-color: #e3f2fd;"
    >
      <a href="#" class="navbar-brand">Note App</a>
      <ul class="navbar-nav mr-0 mt-lg-0">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fa fa-plus"></i>
          </a>
        </li>
      </ul>
    </nav>

    <div class="container">
      <div class="card col-12 mb-3">
        <div class="card-body">
          <h5 class="card-title">
            Note Title
          </h5>
          <a href="#" class="card-link"><i class="fa fa-trash-alt icon"></i></a>
          <a href="#" class="card-link"><i class="fa fa-edit icon"></i></a>
        </div>
      </div>
      <div class="card col-12 mb-3">
        <div class="card-body">
          <h5 class="card-title">
            The origin of man and evolution
          </h5>
          <a href="#" class="card-link"><i class="fa fa-trash-alt icon"></i></a>
          <a href="#" class="card-link"><i class="fa fa-edit icon"></i></a>
        </div>
      </div>
      <div class="card col-12 mb-3">
        <div class="card-body">
          <h5 class="card-title">
            Note Title
          </h5>
          <a href="#" class="card-link"><i class="fa fa-trash-alt icon"></i></a>
          <a href="#" class="card-link"><i class="fa fa-edit icon"></i></a>
        </div>
      </div>
    </div>

    <nav>
      <ul>
        <li>Home</li>
        <li>goto</li>
        <li>when</li>
        <li>ok</li>
      </ul>
    </nav>
  </body>
</html>
